<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Timestamp</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Debitorcredit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.timeStamp %></td>
    <td><%= transaction.name %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.debitOrCredit %></td>
  </tr>
<% end %>
</table>

<br />
